NEXT_PUBLIC_APP_NAME="Nicolas Spehler"
NEXT_PUBLIC_APP_URL=https://nspehler.com

DATOCMS_PUBLISHED_CONTENT_CDA_TOKEN=
DATOCMS_DRAFT_CONTENT_CDA_TOKEN=
DATOCMS_BASE_EDITING_URL=

SECRET_API_TOKEN=

NEXT_PUBLIC_PLAUSIBLE_SRC=
